.page-header {
    width: 100%;

    box-sizing: border-box;

    background-color: $sixteenth-color;

    &--start {
        min-height: 733px;
    }
}

@include media_queries_m() {
    .page-header {
        &--start {
            min-height: 729px;
        }
    }
}

@include media_queries_l() {
    .page-header {
        &--start {
            min-height: 853px;
        }
    }
}
