@mixin media_queries_m() {
    @media only screen and (min-width: $midle) {
        @content;
    }
}

@mixin media_queries_l() {
    @media only screen and (min-width: $long) {
        @content;
    }
}

@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin font-set($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-pseudo-element() {
    content: "";
    position: absolute;
}

@mixin clear-list() {
    margin: 0;
    padding: 0;
  
    list-style: none;
  }
