$midle: 660px;
$long: 960px;

$font-back: "Arial", sans-serif;
$font-primary: "Open Sans", $font-back;

$primary-transition-duration: 0.2s;

$first-color: #ffffff;
$second-color: #d22856;
$third-color: #bec2c7;
$fourth-color: #7e868f;
$fifth-color: #e9ebec;
$sixth-color: #283645;
$seventh-color: #f1becc;
$eighth-color: #e5e5e5;
$ninth-color: #2aab6d;
$tenth-color: #1c9b5e;
$eleventh-color: #b5b9be;
$twelfth-color: #8d949b;
$thirteenth-color: #e06989;
$fourteenth-color: #dddfe0;
$fifteenth-color: #cbced2;
$sixteenth-color: #1d2631;
$seventeenth-color: #000000;
$eighteenth-color: #61b98f;
$nineteenth-color: #3dc644;
$twentieth-color: #f25b26;
$twenty-first-color: #eeece6;
$twenty-second-color: #616664;
$twenty-third-color: #f2f2f2;
$twenty-fourth-color: #efefef;
$twenty-fifth-color: #f4f1ea;
