.advantages__main-title {
  margin-top: 0;
  margin-bottom: 0;

  padding-top: 41px;
  padding-bottom: 36px;

  @include font-set(400, 23px, 29px);
  text-align: center;
}

.advantages__wrapper {
  width: 280px;

  padding-right: 20px;
  padding-left: 20px;

  @include margin-center();
}

.advantages__span {
  display: block;

  width: 260px;

  @include margin-center();

  &--top {
    margin-bottom: 28px;
  }
}

.advantages__list {
  @include clear-list();

  padding-top: 80px;
  padding-bottom: 284px;
}

.advantages__item {
  margin-bottom: 34px;
  text-align: center;
}

.advantages__title {
  @include font(18px, 18px);
}

.advantages__content {
  @include font(14px, 24px);

  margin-bottom: 0;
}

@include media_queries_m() {
  .advantages__main-title {
    padding-top: 50px;
    padding-bottom: 36px;

    @include font-set(400, 39px, 47px);
    text-align: center;
  }

  .advantages__span {
    &--top {
      width: 620px;
      margin-bottom: 0;
    }

    &--bottom {
      width: 360px;
    }
  }

  .advantages__wrapper {
    @include margin-center();

    width: 620px;
  }

  .advantages__list {
    width: 50%;

    padding-left: 0;
    padding-bottom: 3px;

    margin-left: auto;
    padding-top: 90px;
  }

  .advantages__item {
    text-align: left;

    &--first {
      margin-bottom: 36px;
    }

    &--second {
      margin-bottom: 38px;
    }
  }

  .advantages__content {
    @include font(14px, 24px);
  }
}

@include media_queries_l() {
  .advantages__wrapper {
    width: 940px;
  }

  .advantages__list {
    @include flex-center();
    justify-content: space-around;
    align-items: flex-start;

    width: 940px;
    min-height: 560px;
  }

  .advantages__item {
    padding-top: 310px;

    text-align: center;

    width: 290px;

    &--second {
      margin-left: 16px;
    }

    &--third {
      margin-left: 20px;
    }
  }

  .advantages__title {
    @include font(30px, 30px);
  }

  .advantages__content {
    @include font(18px, 30px);

    padding-right: 24px;
    padding-left: 24px;

    margin-top: 25px;

    &--first {
      padding-right: 18px;
      padding-left: 18px;
    }
  }

  .advantages__main-title {
    padding-top: 70px;
    padding-bottom: 36px;

    @include font-set(300, 50px, 56px);
    text-align: center;
  }

  .advantages__span {
    &--top {
      width: 800px;
    }

    &--bottom {
      margin-top: 7px;
      width: 600px;
    }
  }
}
