.advantages__main-title {
  margin-top: 0;
  margin-bottom: 0;

  padding-top: 41px;
  padding-bottom: 36px;

  @include font-set(400, 23px, 29px);
  text-align: center;
}

.advantages__wrapper {
  width: 100%;

  @include margin-center();

  background-color: $twenty-third-color;
  background-image: url("../img/bg/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: -5px 0;
  background-size: contain;
}

.advantages__span {
  display: block;

  width: 260px;

  @include margin-center();

  &--top {
    margin-bottom: 28px;
  }
}

.advantages__list {
  position: relative;

  @include clear-list();

  width: 100%;

  padding-top: 80px;
  padding-bottom: 284px;

  background-image: url("../img/iphone-screen/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left 50% bottom -42px;
  background-size: 157px 320px;

  @include high-dpi {
    background-image: url("../img/iphone-screen/iphone-screen-mobile@2x.png");
  }
}

.advantages__item {
  margin-bottom: 34px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  width: 85%;
}

.advantages__title {
  @include font(18px, 18px);
}

.advantages__content {
  @include font(14px, 24px);

  margin-bottom: 0;
}

@include media_queries_m() {
  .advantages__main-title {
    padding-top: 50px;
    padding-bottom: 49px;

    @include font-set(400, 39px, 47px);
    text-align: center;
  }

  .advantages__span {
    &--top {
      width: 620px;
      margin-bottom: 0;
    }

    &--bottom {
      width: 360px;
    }
  }

  .advantages__wrapper {
    @include margin-center();

    width: 100%;
  }

  .advantages__inner {
    width: 100%;

    @include margin-center();

    background-image: url("../img/iphone-screen/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left 20px bottom 0;
    background-size: 268px 481px;

    @include high-dpi {
      background-image: url("../img/iphone-screen/iphone-screen-3-tablet@2x.png");
    }
  }

  .advantages__list {
    width: 50%;
    min-height: 400px;

    padding-top: 77px;
    padding-left: 0;
    padding-bottom: 8px;

    margin-left: auto;

    background: none;
  }

  .advantages__item {
    text-align: left;
    margin-left: 0;

    width: 95%;

    &--first {
      margin-bottom: 36px;
    }

    &--second {
      margin-bottom: 38px;
    }
  }

  .advantages__content {
    @include font(14px, 24px);
  }
}

@include media_queries_l() {
  .advantages {
    .advantages__main-title {
      @include font(48px, 60px);

      padding-top: 67px;
      padding-bottom: 75px;
    }

    .advantages__span {
      &--top {
        margin-bottom: 0;
        width: 800px;
      }

      &--bottom {
        width: 500px;
      }
    }

    .advantages__wrapper {
      width: 100%;
    }

    .advantages__inner {
      width: 960px;

      background: none;
    }

    .advantages__list {
      display: flex;
      justify-content: space-around;

      width: 100%;
      min-height: 560px;

      padding-top: 0;
      padding-right: 0;
      padding-left: 0;

      margin-left: 15px;
    }

    .advantages__item {
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 292px 302px;

      padding-top: 358px;

      text-align: center;

      width: 292px;

      &--first {
        background-image: url("../img/iphone-screen/iphone-screen-1-desktop@1x.png");
      }

      &--second {
        background-image: url("../img/iphone-screen/iphone-screen-2-desktop@1x.png");
      }

      &--third {
        background-image: url("../img/iphone-screen/iphone-screen-3-desktop@1x.png");
      }
    }

    .advantages__title {
      @include font(30px, 30px);
    }

    .advantages__content {
      @include font(18px, 30px);

      margin-top: 24px;
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}
