.main-nav {
    position: relative;

    height: 66px;
    overflow: hidden;

    &--open {
        overflow: inherit;
    }

    &--nojs {
        height: auto;
    }
}

.main-nav__toggle {
    width: 50px;
    height: 24px;

    @include font(0, 0);
    background-color: transparent;

    border: none;

    @include absolute-pseudo-element();
    top: 21px;
    right: 20px;
    z-index: 1;

    &--nojs {
        display: none;
    }

    &::before {
        @include absolute-pseudo-element();

        background-color: $first-color;
        box-shadow: 0 10px $first-color,
            0 2px 0 -1px transparentize($first-color, 0.85);

        top: 0;
        left: 0;

        width: 50px;
        height: 4px;
    }

    &:hover::before {
        background-color: $second-color;
        box-shadow: 0 10px $second-color,
            0 2px 0 -1px transparentize($first-color, 0.85);
    }

    &:active::before {
        background-color: transparentize($second-color, 0.85);
        box-shadow: 0 10px transparentize($second-color, 0.85),
        0 2px 0 -1px transparentize($first-color, 0.85);
    }

    &::after {
        @include absolute-pseudo-element();

        background-color: $first-color;
        box-shadow: 0 -2px 0 -1px transparentize($first-color, 0.85);

        left: 0;
        bottom: 0;

        width: 50px;
        height: 4px;
    }

    &:hover::after {
        background-color: $second-color;
    }

    &:active::after {
        background-color: transparentize($second-color, 0.85);
    }

    &--open {
        top: 21px;
        right: 19px;

        width: 24px;
        height: 23px;

        &::before {
            border-radius: 2px;
            box-shadow: none;

            transform: translate(-50%, -50%) rotate(-45deg);

            top: 50%;
            left: 50%;

            width: 5px;
            height: 31px;
        }

        &:hover::before {
            box-shadow: none;
        }

        &:active::before {
            box-shadow: none;
        }

        &::after {
            border-radius: 2px;
            box-shadow: none;

            transform: translate(-50%, -50%) rotate(45deg);

            top: 50%;
            left: 50%;

            width: 5px;
            height: 31px;
        }
    }
}

.main-nav__list {
    @include clear-list();

    width: 100%;
}

.main-nav__item {
    box-sizing: border-box;

    box-shadow: inset 0 -1px $seventeenth-color,
      inset 0 1px transparentize($first-color, 0.85);

    background-color: $sixth-color;

    &--open {
        transition-duration: $primary-transition-duration;
    }
}

.main-nav__item--logo {
    min-height: 70px;
    padding-top: 22px;
    padding-left: 20px;
}

.main-nav__item--logo-open {
    background-color: transparentize($seventeenth-color, 0.7);
}

.main-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 64px;

    @include font-set(700, 18px, 32px);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: $first-color;

    transition-duration: $primary-transition-duration;

    &:not(&--active):hover {
        color: $second-color;
    }

    &:not(&--active):active {
        color: transparentize($first-color, 0.7);
    }
}

@include media_queries_m() {
    .main-nav {
        height: 110px;

        &--open {
            margin: 0;
        }

        &--nojs {
            height: auto;
        }
    }

    .main-nav__toggle {
        top: 45px;
    }

    .main-nav__item--logo {
        min-height: 110px;
        padding-top: 27px;
        padding-left: 20px;

        box-shadow: inset 0 -1px $seventeenth-color,
          inset 0 1px transparentize($first-color, 0.85);
    }

    .main-nav__item--logo-open {
        box-shadow: none;
    }
}

@include media_queries_l() {
    .main-nav {
        @include flex-center();
        flex-direction: row;

        background-color: transparentize($seventeenth-color, 0.85);

        overflow: inherit;
    }

    .main-nav__toggle {
        display: none;
    }

    .main-nav__list {
        @include flex-center();

        width: 940px;
        min-height: 110px;

        padding-right: 10px;
        padding-left: 10px;
    }

    .main-nav__item {
        background-color: transparent;
        box-shadow: none;

        display: flex;
        align-items: center;

        margin-left: 62px;

        padding-top: 0;
        padding-right: 9px;
        padding-left: 9px;

        &--logo {
            margin-right: auto;
            margin-left: 0;
            padding-bottom: 17px;
        }
    }

    .main-nav__link {
        @include font-set(400, 18px, 38px);

        display: block;
        min-height: auto;

        text-transform: none;

        &--active {
            color: $first-color;
            box-shadow: 0 2px 0 0 $first-color;
        }
    }
}
