.proof {
  display: none;
}

@include media_queries_m() {
  .proof {
    @include flex-center();
  }

  .proof__wrapper {
    width: 620px;

    padding-top: 96px;
    padding-left: 17px;
    padding-right: 20px;
    padding-bottom: 86px;
  }

  .proof__inner {
    position: relative;

    width: 50%;

    margin-left: auto;

    &::before {
      content: "";
      position: absolute;
      top: -35.5px;
      left: -309px;
      z-index: auto;

      box-sizing: border-box;
      width: 238px;
      height: 275px;

      background-image: url("../img/additional-icon/timer.svg");
      background-repeat: no-repeat;
      background-size: 238px 275px;
    }

    &::after {
      box-sizing: border-box;

      content: "24";
      position: absolute;

      top: 20.4px;
      left: -291px;


      width: 202px;
      height: 202px;

      @include font-set(700, 96px, 163px);
      color: $second-color;
      text-align: center;
      vertical-align: middle;

      border: 13px solid $second-color;
      border-radius: 50%;
    }
  }

  .proof__title {
    width: 200px;

    margin-top: 0;
    margin-bottom: 0;

    @include font-set(700, 30px, 36px);
  }

  .proof__text {
    padding-right: 10px;

    margin-top: 10px;
    margin-bottom: 10px;

    @include font(14px, 24px);
  }

  .proof__link {
    @include font(14px, 24px);
    color: $second-color;
    text-decoration: underline;
  }
}

@include media_queries_l() {
  .proof {
    background-color: $twenty-third-color;
  }

  .proof__wrapper {
    width: 100%;

    padding-top: 112px;
    padding-left: 360px;
    padding-bottom: 114px;
    padding-right: 0;
  }

  .proof__inner {
    position: relative;

    width: 570px;

    margin-left: auto;
    margin-right: auto;

    &::before {
      background-image: url("../img/additional-icon/timer.svg");
      background-size: 298px 345px;

      content: "";

      position: absolute;
      top: -92px;
      left: -365px;
      z-index: auto;

      box-sizing: border-box;
      width: 298px;
      height: 345px;
    }

    &::after {
      content: "24";
      position: absolute;

      box-sizing: border-box;

      top: -23px;
      left: -343px;

      height: 253px;
      width: 253px;

      @include font(120px, 205px);
      color: $second-color;
      text-align: center;
      vertical-align: middle;

      border-width: 17px;
    }
  }

  .proof__title {
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;

    @include font-set(700, 30px, 36px);
  }

  .proof__text {
    margin-top: 21px;
    margin-bottom: 30px;

    @include font(18px, 30px);
  }

  .proof__link {
    @include font(18px, 30px);
  }
}
