.reviews {
  padding-bottom: 45px;
}

.reviews__svg {
  display: none;
}

.reviews__pager {
  display: none;
}

.reviews__wrapper {
  padding-right: 20px;
  padding-left: 20px;

  @include margin-center();

  //width: 200px;
}

.reviews__item {
  margin-top: 42px;
  margin-left: 0;
  margin-right: 0;
}

.reviews__footer {
  @include font(18px, 30px);
  font-style: normal;
  text-align: center;
}

.reviews__author {
  display: block;
}

.reviews__author-desc {
  display: none;
}

.reviews__content {
  margin-top: 13px;
  margin-bottom: 0;

  @include font(14px, 30px);
  text-align: center;
}

@include media_queries_m() {
  .reviews {
    padding-bottom: 24px;
  }

  .reviews__wrapper {
    @include margin-center();
    box-sizing: border-box;
    width: 660px;
  }

  .reviews__item {
    @include flex-center();
    flex-direction: column;

    margin-top: 26px;
  }

  .reviews__footer {
    order: 1;

    margin-top: 35px;
  }

  .reviews__author {
    margin-bottom: 2px;

    @include font(20px, 30px);
  }

  .reviews__author-desc {
    display: block;

    @include font(14px, 30px);
  }

  .reviews__content {
    @include font(18px, 30px);
  }
}

@include media_queries_l() {
  .reviews {
    position: relative;

    padding-top: 18px;
    padding-bottom: 35px;
  }

  .reviews__svg {
    position: absolute;
  }

  .reviews__wrapper {
    @include flex-center();
    justify-content: space-between;
    align-items: flex-start;

    width: 960px;

    padding-top: 150px;
  }

  .reviews__pager {
    position: relative;

    display: block;

    width: 22px;
    height: 41px;

    margin-top: 45px;

    @include font(0, 0);

    background-color: transparent;

    border: none;

    &::before {
      @include absolute-pseudo-element();

      box-sizing: border-box;

      top: 5px;

      width: 30px;
      height: 32px;

      border-width: 2px;
      border-style: solid;
      border-color: transparentize($third-color, 0.7);

      transform: rotate(45deg);

      transition-property: border-color;
      transition-duration: $primary-transition-duration;
    }

    &:hover::before {
      border-color: transparentize($third-color, 0.4);
    }

    &:active::before {
      border-color: transparentize($third-color, 0.9);
    }

    &--prev {
      margin-left: 11px;

      &::before {
        right: -14px;
        border-top: transparent;
        border-right: transparent;
      }
    }

    &--next {
      margin-right: 11px;

      &::before {
        left: -14px;
        border-left: transparent;
        border-bottom: transparent;
      }
    }
  }

  .reviews__item {
    margin-top: 4px;
    width: 700px;
  }

  .reviews__footer {
    margin-top: 36px;
  }

  .reviews__author {
    @include font(24px, 30px);
  }

  .reviews__author-desc {
    @include font(18px, 30px);
  }
}
