.social {
  @include flex-center();

  box-sizing: border-box;

  height: 51px;
}

.social__link {
  position: relative;

  box-sizing: border-box;

  height: 51px;
  width: 51px;

  margin-left: 8px;
  margin-right: 5px;

  font-size: 0;

  border-width: 3px;
  border-style: solid;
  border-color: transparentize($sixth-color, 0.7);
  border-radius: 50%;

  transition-duration: $primary-transition-duration;

  &:hover {
    border-color: $sixth-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__svg {
  @include absolute-pseudo-element();

  top: 50%;
  left: 50%;

  fill: $second-color;

  transform: translate(-50%, -50%);
}

@include media_queries_m() {
  .social {
    width: 320px;  
  }
}

@include media_queries_l() {
  .social {
    margin-left: 162px;
    margin-right: 138px;
  }
}
